<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#7A1515;text-align:center;">FHS Manufacturing</h1>
    <div>
      <img src="img/Jl5SkejfTaS9YTMeXAXp_Senator.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="home-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">FHS Manufacturing is a Junior Achievement company based at Franklin High School metal shop in Portland, Oregon. We make a variety of metal art and signs, all designed and manufactured by students in our shop class. All class members purchased stock
        at the start of the year and profits go to them. The class uses a Junior Achievement business model.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div>
      <img src="img/gY3M3cRSVGGuwTQiDHbe_IMG_0432.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <div id="home-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some of the projects the students have made. Picture courtesy of Ian Griffin and Ian Mittelstaedt.</p>
    </div>
  </ion-content>
</ion-view>