<ion-view title="Meet The Team" id="page3">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/VMZPt3azShitm242IND6_Facebook0038.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Shane Tovarez - President</p>
    </div>
    <div>
      <img src="img/jaPtMwXlQn6iw5m5vHNF_FullSizeR.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Stephenie Clayville - VP of Financing</p>
    </div>
    <div>
      <img src="img/sSoENPApTbChQ0VtoqjF_20170227_085923.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Clifford Carlson - VP of Marketing</p>
    </div>
    <div>
      <img src="img/52Ffu213TwOtCtbuSAwX_FB_IMG_1488213811702.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Victor Velikoretskikh - VP of Product Design</p>
    </div>
    <div>
      <img src="img/acHRvB4JSDabQpxLkea8_DSC_1097.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">All members of the class</p>
    </div>
    <div>
      <img src="img/6aDbsiWhQsOmMvTAXzxi_MRyan.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <div id="meetTheTeam-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Myron Ryan - Franklin Metal Shop Instructor </p>
    </div>
  </ion-content>
</ion-view>