<ion-view title="Products" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="products-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Here you can see many of the products we are working on and the prices you can expect to purchase them for.</p>
    </div>
    <div>
      <img src="img/5Bvt6OTIRTckFAv1VOmL_Examples.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/YLcoUSX9RTiN5HFnsa9X_20170303_084529.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="products-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">PDX Skyline -
        <strong>$25</strong> or
        <strong>$60</strong>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/LoQrmLoR3mBlhFelAnAD_20170303_084430.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="products-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Oregon Love -
        <strong>$15</strong> or
        <strong>$30</strong>
      </p>
    </div>
    <div class="spacer" style="height: 45px;"></div>
    <div id="products-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If you would like to place an order online, you can do so here!</p>
    </div>
    <a href-inappbrowser="https://www.etsy.com/" id="products-button3" class="button button-positive  button-block">Order Now! (Out of Order)</a>
    <div class="spacer" style="height: 45px;"></div>
    <div id="products-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">If your a local customer, you can fill out this form and return it to Franklin High School at 3905 SE 91st Ave with payment included.</p>
    </div>
    <a href-inappbrowser="https://docs.google.com/document/d/1dDaT9QDeyFukM9cCqShegLH2d1hTy6vF6e5u839fHq0/edit?usp=sharing" id="products-button4" class="button button-positive  button-block">Print and Return!</a>
  </ion-content>
</ion-view>